<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.adamnoonan.scryer.pyth-tape</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/adamnoonan/Library/Application Support/scryer/bin/scry</string>
        <string>pyth</string>
        <string>tape</string>
        <string>--source</string>
        <string>pyth:hermes:launchd</string>
        <string>--dataset</string>
        <string>/Users/adamnoonan/Library/Application Support/scryer/dataset</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/adamnoonan/Library/Application Support/scryer</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>60</integer>

    <key>StandardOutPath</key>
    <string>/Users/adamnoonan/Library/Logs/scryer/pyth-tape.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/adamnoonan/Library/Logs/scryer/pyth-tape.err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>SCRY_LOG</key>
        <string>info</string>
    </dict>
</dict>
</plist>
